*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start nav */ 
nav{
  width: 100vw;
    height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(26, 26, 77);
color: white;
padding: 0 126px;
flex-wrap: wrap;

}

nav ul{
    list-style: none;
    display: flex;
    gap:40px;
}
nav ul a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
nav .logo{
flex-shrink: 0;
}
nav button{
  display: none;
  color: white;
}
@media screen and (max-width : 992px){
  nav button{
    display: block;
  }
  nav ul{
    display: none;
  }
  nav{
    padding: 0 50px;
  }
  .hero h1{
    font-size: 15px;
  }
}
/*end nav*/










/*start hero */ 
.hero{
height:550px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(103, 182, 139);
gap: 10px;
}
.person{
  width: 250px;
  height: 270px;
  border-radius:50% ;
}
.star{
    font-size: 50px;
    color:white;
    gap: 10px;


}
.hero h1{
    color:white;
    font-size: 60px;
    text-align: center;
}
.icon{
color: white;
position: relative;
margin-top: 20px;
}

.icon::before {
                content:" "; 
                width: 120px;
                height:2px; 
                background-color: white; 
                display: block;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left:-64px;
            }


 .icon::after {
              content:" "; 
              width: 120px;
              height:2px; 
              background-color: white; 
              display: block;
              position: absolute;
              top: 50%;
              transform: translate(-50%,-50%);
              right:-183px;
          }

         .hero .job{
            color: white;
            font-size: 30px;
            margin-top: 20px;
        }
  
  /* end hero */
     























  
      #portfolio h1{
        color:rgb(26, 26, 77);
        font-size: 60px;
        width: max-content;
        margin: 30px auto;
      }
      #portfolio .icon {
        color:rgb(26, 26, 77);
        width: max-content;
        margin: 0px auto;
      }
      
      #portfolio .icon::before , #portfolio .icon::after , #contactme .icon::before , #contactme .icon::after{
                background-color: rgb(26, 26, 77); 
      }

    #portfolio .container{
      max-width:1100px ;
      max-height: 1340px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap ;
      gap: 10px;
      justify-content:center ;
      margin-bottom: 20px;
    }
    #portfolio .container .child{
      width: 356px;
      height: 256px;
      border-radius: 10px;
      background-color: turquoise;
      position: relative;
   }
    #portfolio .container .child .circle{ 
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: blueviolet;
      border-radius: 50%;

    }
    #portfolio .container .child .circle img{ 
      width: 125px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);



    }



















#about{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(103, 182, 139);
    position: relative;

}
#about h1{
color: white;
font-size: 40px;
width: max-content;
}
.par{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    gap: 40px;
    color: white;
    flex-wrap: wrap;

}

.btn {
  height: 70px;
  background-color: rgb(103, 182, 139);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  }
.bordertext i{
  color: white;
}
.bordertext{
  border-color: white;
  border-radius: 10px;
}












#contactme{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;


}
.enter ,textarea{
width:380px;
border-top-style: none;
border-right-style: none;
border-left-style: none;
}

.contact{
   padding:10px;
   flex-wrap: wrap;

}

.send{
    width: 150px;
    height: 50px;
    background-color: rgb(32, 172, 214);
    color: white;
    margin: 14px 0;
    border-radius: 7px;
}

#contactme p{
    color: black;
}

















#info{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(67, 71, 104);
    position: relative;
    flex-wrap: wrap;

}
#info h1,p{
    color: white;
    width: max-content;
    }
    .fa-facebook , .fa-twitter , .fa-linkedin , .fa-github{
        width: 40px;
        height:40px;
        font-size: 20px;
        color: white;
    }
    .para1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .par{
        display: flex;
        justify-content: space-around;
        align-items: center;      
        margin: 40px 0;

    }

span{
    color: rgb(14, 201, 154);
    text-decoration-line: underline;
}




.footer{
    height: 50px;
    background-color: rgb(12, 21, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}















